.categories-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.categories-container .category {
  display: flex;
  flex-direction: column;
  margin-top: 20vh;
  font-size: x-large;
  font-weight: bold;
}

.categories-container .category div {
  border-bottom: 2px solid black;
  margin-bottom: 10px;
}

.categories-container .check-status-btn {
  width: 22vh;
  height: 5vh;
  margin-top: 20vh;
  border-radius: 5px;
  border: none;
  background-color: #0290ff;
  color: rgba(255, 255, 255, 0.89);
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 16px;
}
